body{
    background-color: #6457A6;
}
#add_sludinajumi_kaste{
    width: 1600px;
    min-height: 700px;
    margin: 0 auto;
    /* background-color: aqua; */
}
.add_logss{
    width: 450px;
    height: 600px;
    float: right;
    margin-top: 45px;
    margin-right: 120px; 
    background-color: #4B0085;
}
.piev_bildi {
    width: 300px;
    height: 300px;
    background-color: #FFFFF1;
    margin: auto;
    margin-top: 25px;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
#uploadedImage {
    max-width: 100%;
    max-height: 100%;
}
.ko_cope{
    width: 295px;
    height: 50px;
    background-color: #95A6D1;
    margin: auto;
    margin-top: 10px;
    margin-left: 73px;
}
.slud_apraksts{
    width: 295px;
    height: 100px;
    background-color: #95A6D1;
    margin: auto;
    margin-top: 10px;
    margin-left: 73px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.atrasanas_vieta_add{
    width: 125px;
    height: 20px;
    background-color: #95A6D1;
    margin-top: 10px;
    margin-left: 76px;
}
.statuss_add_slud{
    width: 125px;
    height: 20px;
    background-color: #95A6D1;
    float: inline-end;
    margin-right: 76px;
    margin-top: -20px;
}
.poga_add_sludinajums{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 75px;
    height: 30px;
    border-radius: 30px;
    background-color: #A900C5;
    margin-top: 20px;
    margin-left: 300px;

}
.izvelne_nozopets{
    color: #73FE44;
}
.izvelne_pazaudets{
    color: #C30000;
}
.log_add_slud{
    width: 550px;
    height: 600px;
    margin-top: 45px;
    margin-left: 400px;
}