
/* Te tiek veidota lapas dizains pēc IELOGOŠANAS */

#main_entry_start{
    width: 1600px;
    min-height: 300px;
    margin: 0 auto;
}

#top{
    width: 1600px;
    height: 150px;
}
#content{
    width: 1600px;
    min-height: 650px;
}
#foot{

}

#enter_background{
    background-color: #7D7ABC;
}
.entry_mantu_copejs{
    margin-left: 43px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    float: left;
    margin-top: 19px;
}
.sludinajumu_parskats{
    position: relative;
    width: 1440px;
    height: 650px;
    background-color: #201274;
    margin-left: 9px;
    float: left;
    margin-top:-70px
  
}
.sidebar{
    position: relative;
    width: 150px;
    height: 435px;
    background-color: #C0B6FF;
    float: left;
    margin-top: -70px;
}

.pievienot_rediget{
    display: flex;
    width: 150px;
    height: 50px;
    
    background-color: #A900C5;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 20px;
    font-size: 14pt;
    margin-left: 917px;
    margin-right: -897px;
}

.pievienot_rediget:visited{
    color: none;
}

.entry_start_top{
    height: 80px;
    width:1600px;
    
}
.vesture_enter{
    margin-left: 108px;
    display: flex;
    width: 150px;
    height: 50px;
    
    background-color: #A900C5;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 20px;
    font-size: 14pt;

}
.vesture_enter:visited{
    color:none;
}

/* Sidebar filtrācija */

#filt_nos{
    display: flex;
    width: 110px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    list-style-type: none;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: 13px;
    margin-left: -17px;
    color: #000;
    font-weight: bold;
}

.entry_filtri{
    display: flex;
    list-style-type: none;
    /* background-color: bisque; */
    width: 150px;
    text-align: left;
    margin-left: -40px;
    margin-top:9px;
    text-decoration: none;
    font-family: "PT Serif", serif;
    color: #000;
}
.entry_filtri_zem{
    list-style-type: none;
    /* background-color: aquamarine; */
    text-align: right;
    font-family: "PT Serif", serif;
    color: #000;
    margin-right: 5px;
}
.entry_filtri_vel{
    list-style-type: none;
    text-align: left;
    font-family: "PT Serif", serif;
    /* background-color: #1249ff; */
    margin-left: -40px;
    margin-top: 9px;
    text-decoration: none;
    color: #000;
}
a:link{
    text-decoration: none;
}

.copnesejs{
    display: flex;
    text-align: left;
    align-items: center;

    margin-top: 170px;
    background-color: #031A6B;
    color: #519872;
    width: 150px;
    height: 40px;
    
    
    margin-left: -40px;
}

/* Ēdnīca zemfiltra veidošana */

.ednica_zemkategorija{
    display: flow;
    text-align: center;
    align-items: center;
    FONT-SIZE: 60pt;
    width: 580px;
    margin-right: 35px;
    color: #CD00BC;
    /* background-color: aquamarine; */
    float:left;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
.vesture_enter_zemkategorija{
    margin-left: 108px;
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #A900C5;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 20px;
    font-size: 14pt;
    margin-right: 200px;
}
.pievienot_rediget_zemkategorija{
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #A900C5;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 20px;
    font-size: 14pt;
    margin-left: 102px;
    margin-right: -82px;
}

/* Pazudēts vai nocopēts virsraksts uc. */
.pazaudets_zemkategorija{
    display: flow;
    text-align: center;
    align-items: center;
    FONT-SIZE: 60pt;
    width: 580px;
    margin-right: 35px;
    color: #fd0404;
    /* background-color: aquamarine; */
    float:left;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
.nocopets_zemkategorija{
    display: flow;
    text-align: center;
    align-items: center;
    FONT-SIZE: 60pt;
    width: 580px;
    margin-right: 35px;
    color: #00f00c;
    /* background-color: aquamarine; */
    float:left;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}

/* dzēšanas lapa */
.sidebar_dzesana{
    position: relative;
    width: 150px;
    height: 50px;
    background-color: #C0B6FF;
    float: left;
    
}
.dzest_sludinajumus{
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #A900C5;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 20px;
    font-size: 14pt;
}
.dzest_mantu_copejs{
    margin-left: 18px;
    display: flex;
    width: 131px;
    height: 131px;
    border-radius: 40px;
    float: left;
    margin-top: 19px;  
}

/* sludinājumu pievienošana */
.sludinajumu_parskats {
    display: flex;
    flex-wrap: wrap;
    
}

.sludinajums {
    /* display: flex; */
    width: 235px; /* Mainiet šo vērtību, ja vēlaties mainīt sludinājumu platumu */
    height: 250px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #479ad1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    float: left;
}

.sludinajums img {
    width: 50px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-color: #030000 ;
    background-color: #00f00c;
}

.sludinajums h2 {
    font-size: 1.5pt;
    margin-bottom: 5px;
}

.sludinajums p {
    margin-bottom: 5px;
    font-size: 1pt;
}

.sludinajums p strong {
    font-weight: bold;
}
