
/* Te tiek veidota lapas dizains pēc IELOGOŠANAS */

#main_entry_start{
    width: 1600px;
    min-height: 300px;
    margin: 0 auto;
}

#top{
    width: 1600px;
    height: 150px;
}
#content{
    width: 1600px;
    min-height: 650px;
}
#foot{

}

#enter_background{
    background-color: #7D7ABC;
}
.entry_mantu_copejs{
    margin-left: 43px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    float: left;
    margin-top: 19px;
}
.sludinajumu_parskats{
    position: relative;
    width: 1440px;
    height: 650px;
    background-color: #201274;
    margin-left: 9px;
    float: left;
    margin-top:-70px
  
}
.sidebar{
    position: relative;
    width: 150px;
    height: 435px;
    background-color: #C0B6FF;
    float: left;
    margin-top: -70px;
}

.pievienot_rediget{
    display: flex;
    width: 150px;
    height: 50px;
    
    background-color: #A900C5;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 20px;
    font-size: 14pt;
}

.pievienot_rediget:visited{
    color: none;
}

.entry_start_top{
    height: 80px;
    width:1600px;
    
}
.vesture_enter{
    margin-left: 108px;
    display: flex;
    width: 150px;
    height: 50px;
    
    background-color: #A900C5;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 20px;
    font-size: 14pt;

}
.vesture_enter:visited{
    color:none;
}

/* Sidebar filtrācija */

#filt_nos{
    display: flex;
    width: 110px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    list-style-type: none;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: 13px;
    margin-left: -17px;
    color: #000;
    font-weight: bold;
}

.entry_filtri{
    display: flex;
    list-style-type: none;
    /* background-color: bisque; */
    width: 150px;
    text-align: left;
    margin-left: -40px;
    margin-top:9px;
    text-decoration: none;
    font-family: "PT Serif", serif;
    color: #000;
}
.entry_filtri_zem{
    list-style-type: none;
    /* background-color: aquamarine; */
    text-align: right;
    font-family: "PT Serif", serif;
    color: #000;
    margin-right: 5px;
}
.entry_filtri_vel{
    list-style-type: none;
    text-align: left;
    font-family: "PT Serif", serif;
    /* background-color: #1249ff; */
    margin-left: -40px;
    margin-top: 9px;
    text-decoration: none;
    color: #000;
}
a:link{
    text-decoration: none;
}

.copnesejs{
    display: flex;
    text-align: left;
    align-items: center;

    margin-top: 170px;
    background-color: #031A6B;
    color: #519872;
    width: 150px;
    height: 40px;
    
    
    margin-left: -40px;
}

/* Ēdnīca zemfiltra veidošana */

.ednica_zemkategorija{
    display: flex;
    text-align: center;
    align-items: center;
    FONT-SIZE: 12pt;
    width: 203px;
    margin-right: 35px;
    color: #CD00BC;
    background-color: aquamarine;
    float:left;
}