body{
    background-color: #6457A6 ;
}
#page{
    display: flex;
    width: 1600px;
    
    height: 180px;
    border-radius: 15px;
    background-color: #2E00AF;
    margin: auto;
    flex-direction: row-reverse;
}


#startnavi{
    display: flex;
    font-size: 120pt;
    color: #CD00B9;
    float:left;
    margin-right:46px;
}
.firstPageButtons{
    color: #CDCDCD;
    position: sticky;
    float: right;
    
    font-size: 20px;
    width: 200px;
    height: 72px;
    margin-right: 100px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    background-color: #3461FF;
    margin-top: 52px;
    line-height: 3.5; 
    

}
img.start_mantu_copejs{
    width: 665px;
    margin: auto;
    display: block;
    
}
/* sākam veidot login page */

.ieiesana_registesana{
    background-color: #110041;
}

.login_ekrans{
    display: flex;
    flex-direction: column;  /* Change the flex direction to column */
    align-items: center;     /* Center the items horizontally */
    position: sticky;
    vertical-align: middle;
    width: 1100px;
    height: 637.5px;
    border-radius: 10px;
    background-color: #4B0065;
    margin:auto;
    margin-top:150px;
}
#ielogošanas{
    position: relative;
    width: 900px;
    display: flex;
    margin: auto;
    margin-top: 300.75px;
    /* background-color: rgb(35, 91, 139); ... Vienkārši objektu orientācija. */
    
}
#ielogosanas_inputi{
    margin-top: -170px;
    
}
#ielogosanas_inputi input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 900px;
    padding: 33px;
    margin-bottom: 45px;
    border: 1px solid #CDCDCD;
    margin-left:-41px;
    font-size: 40px;
    color:#000;
}

#ielogosanas_inputi button {
    
    height: 100px;
    width: 200px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 100;
    line-height: normal; 
    background-color: #0095B6;
    color: #CDCDCD;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 726px;
    color: #000;
}
input::placeholder{
    color: rgb(0, 0, 0);
  }

.log_reg_mantu-copejs{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: -147px;
    margin-left: 377px;
}

/* Sākam veidot register page */

#registresanas_inputi{
    margin-top: -278px;
    
    
}

#registresanas_inputi input {
    font-family: 'Inter', sans-serif;
    font-style: sticky;
    
    width: 940px;
    padding: 17px;
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    margin-left:-41px;
    font-size: 40px;
    color:#000;
}

#registresanas_inputi button{
    height: 100px;
    width: 255px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 100;
    line-height: normal; 
    background-color: #0095B6;
    
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 680px;
    color: #000;
}
input::placeholder{
    color: rgb(0, 0, 0);
}